*{
    margin: 0;
    padding: 0;   
    font-family: 'Lato', sans-serif; 
}

/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


/* Header Css */
header{
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding: 50px 150px 0px 150px;
}
.hero-items h1{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.hero-items p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
}
.hero-items button{
    margin-top: 32px;
}
.btn{
    padding: 15px 25px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
}
.hero-image img{
    width: 400px;
}